@page "/Catalog/Details/{id:int}"
@inject ICatalogService theCatalogService
@inject ProductDiscovery discovery
@inject ILogger<Details> theLogger

<h2 class="esh-body-title">Details</h2>

<div class="container">
	<div class="row">

		<div class="col-md-6">
			<img class="esh-picture" style="max-width: 1000px" src="@($"/Pics/{_item.PictureFileName}")">
		</div>

		<dl class="col-md-6 dl-horizontal">
			<dt>
				Name
			</dt>

			<dd>
				@_item.Name
			</dd>

			<dt>
				Description
			</dt>

			<dd>
				@_item.Description
			</dd>

			<dt>
				Brand
			</dt>

			<dd>
				@_item.CatalogBrand.Brand
			</dd>

			<dt>
				Type
			</dt>

			<dd>
				@_item.CatalogType.Type
			</dd>
			<dt>
				Price
			</dt>

			<dd>
				@_item.Price
			</dd>

			<dt>
				Picture name
			</dt>

			<dd>
				@_item.PictureFileName
			</dd>

			<dt>
				Stock
			</dt>

			<dd>
				@_item.AvailableStock
			</dd>

			<dt>
				Restock
			</dt>

			<dd>
				@_item.RestockThreshold
			</dd>

			<dt>
				Max stock
			</dt>

			<dd>
				@_item.MaxStockThreshold
			</dd>

		</dl>
	</div>

	<div class="form-actions no-color esh-link-list">
		<a href="@($"/Catalog/Edit/{_item.Id}")" class="esh-link-item">
			Edit
		</a>
		|
		<a href="/" class="esh-link-item">
			Back to list
		</a>
	</div>

	@if (_Suggested.Any())
	{
		<div>
			<h2>Other customers who bought this product also bought:</h2>
			<div class="row">
			@foreach (var item in _Suggested)
			{
				<div class="col-md-4">
					<img class="esh-picture" src="@($"/Pics/{item.PictureFileName}")">
						<h5><a href="/Catalog/Details/@item.Id">@item.Name</a></h5>
				</div>
			}
			</div>
		</div>
	}

</div>

@code {
	private CatalogItem _item;
	private IEnumerable<CatalogItem> _Suggested = Enumerable.Empty<CatalogItem>();

	[Parameter]
	public int Id { get; set; }

	protected override void OnParametersSet()
	{
		theLogger.LogInformation("Now loading... /Catalog/Details/{Id}", Id);

		_item = theCatalogService.FindCatalogItem(Id);

		var items = theCatalogService.GetCatalogItemsPaginated(1000, 0);
		var suggested = discovery.SuggestProducts(Id.ToString(), items.Data.Where(i => i.Id != Id).Select(i => i.Id.ToString()), 3);
		_Suggested = items.Data.Where(i => suggested.Any(s => s.ProductId == i.Id.ToString()));

	}
}
